#beamlyView {
	float: left;
	margin-left: 15px;
	min-width: 200px;
	z-index: 1000;
	background: #fff;
	width: 300px;
	height: 400px;
}

#catchUpPlayer {
	float: left;
}

#beamly-tweets {
	height: 300px !important;
}