#beamlyView {
	min-width: 200px;
	z-index: 1000;
	background: #fff;
	width: 300px;
	height: 458px;
	color: #000;
	display: inline-block;
	text-align: left;
}

.beamly .player-wrapper__inner {
	display: inline-block;
	margin: 0;
	clear: none;
}

.beamly .region-content {
	width: 1053px !important;
}

.beamly .player-wrapper:before {
	width: 0% !important;
	height: 0% !important;
}