#beamlyView {
	min-width: 200px;
	z-index: 1000;
	background: #fff;
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
	width: 300px;
	height: 466px;
}

.beamly #player-outer-outer {
	width: 1152px !important;
	max-width: 1152px !important;

}
.beamly #player-container {
	width: 832px !important;
	height: 468px !important;
	display: inline-block;
	padding-bottom: 0 !important;
}
