#beamly-header {
	background: #e90649;
	height: 48px;
	width: 100%;
	color: #fff;
	list-style: none;
	font-size: 18px;
}

#beamly-header li {
	display: inline-block;
	margin-right: 12px;
	vertical-align: middle;
}

#beamly-header li:last-child {
	margin-right: 0;
}

#beamly-logo {
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/logo.png');	
	height: 48px;
	width: 125px;
	margin-left: 10px;
	cursor: pointer;
}

#beamly-body {
	padding: 5px;
}

#beamly-tweets {
	font-size: 12px;
	color: #000;
	height: 350px;
	overflow-y: auto;
	text-align: left;
}

#beamly-tweets a, #beamly-tweets a:visited {
	color: #e90649;
}

#beamly-tweets a:hover, #beamly-tweets a:active {
	text-decoration: underline;
}

#beamly-tweets li {
	padding: 5px 0;
	border-bottom: 1px solid #efefef;
	width: 100%;
	text-align: left !important;
}

#beamly-tweets li img {
	width: 48px;
	height: 48px;
	float: left;
}

#beamly-tweets .content {
	float: left;
	margin-left: 10px;
	width: 200px;
}

.beamly-footer {
	height: 35px;
	margin-top: 10px;
}

.beamly-play {
    cursor: pointer;
	width: 25px;
	height: 25px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/icons/appicons.png');
	background-position: 56px 0;
	float: left;
}

.beamly-pause {
    cursor: pointer;
	width: 25px;
	height: 25px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/icons/appicons.png');
	background-position: 0px 0;
	float: left;
}

#beamly-loading {
	opacity: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

.beamly-time {
	float: right;
	color: grey;
	font-size: 11px;
}

.beamly-scrubber {
	width: 240px;
	float: left;
	background: grey;
	height: 5px;
	margin-top: 10px;
	margin-left: 15px;
    cursor: pointer;
}

.beamly-scrubber-pos {
	width: 0;
	background: #e90649;
	height: 5px;	
	margin-right: 50px;
}

.beamly-scrubber-pos:after {
	border-radius: 50%;
	width: 12px;
	height: 12px; 
	background: #e90649;
	color: #e90649;
	content: " ";
	display: inline-block;
	float: right;
	margin-top: -4px;
}